{% extends 'base.html.twig' %}

{% block title %}NumerosLoteria{% endblock %}

{% block body %}
    <h1>NumerosLoteria</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ numeros_loterium.id }}</td>
            </tr>
            <tr>
                <th>Numero</th>
                <td>{{ numeros_loterium.Numero }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_numeros_loteria_index') }}">back to list</a>

    <a href="{{ path('app_numeros_loteria_edit', {'id': numeros_loterium.id}) }}">edit</a>

    {{ include('numeros_loteria/_delete_form.html.twig') }}
{% endblock %}
