{% extends 'base.html.twig' %}

{% block title %}Sorteo index{% endblock %}

{% block body %}
    <h1>Sorteo index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Prize</th>
                <th>Winner</th>
                <th>Fecha</th>
                <th>State</th>
                <th>Cost</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for sorteo in sorteos %}
            <tr>
                <td>{{ sorteo.id }}</td>
                <td>{{ sorteo.Name }}</td>
                <td>{{ sorteo.Prize }}</td>
                <td>{{ sorteo.Winner }}</td>
                <td>{{ sorteo.Fecha ? sorteo.Fecha|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ sorteo.State }}</td>
                <td>{{ sorteo.cost }}</td>
                <td>
                    <a href="{{ path('app_sorteo_show', {'id': sorteo.id}) }}">show</a>
                    <a href="{{ path('app_sorteo_edit', {'id': sorteo.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_sorteo_new') }}">Create new</a>
{% endblock %}
